# --------------------
# Python virtual environments
# --------------------
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# --------------------
# Python cache files
# --------------------
__pycache__/
*.py[cod]

# --------------------
# Environment variables
# --------------------
.env
.env.*

# --------------------
# Service account keys / secrets
# --------------------
serviceAccountKey.json

# --------------------
# IDE / OS files
# --------------------
.vscode/
.idea/
.DS_Store
Thumbs.db
